#map {
  background-image: url('./../../images/map.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  border-radius: 10px;
}