
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family: 'Roboto', sans-serif;
$font-size: 16px;


body {
  font-family: $font-family;
  font-size: $font-size;
}

.section__title--dark {
  color: $secondary-color;
  font-weight: 700;
}

.section__title--light {
  color: #fff;
  font-weight: 700;
}